
<%= render @beer_club %>

<h3>members</h3>
<ul>
  <% @beer_club.full_members.each do |user| %>
    <li>
      <%= link_to user.username, user %>
      <% m_id = Membership.where(user_id: user.id).where(beer_club_id: @beer_club.id).first.id %>
      <%# p '#######################################################################################' %>
      <%# p m_id %>
      <%# p '#######################################################################################' %>
      <%#= link_to "un-confirm", toggle_activity_membership_path(m_id), data: {turbo_method: "post"}, class: "btn btn-primary btn-sm" %>
      <%#= link_to "confirm", toggle_activity_membership_path(m_id), data: {turbo_method: "post"}, class: "btn btn-primary btn-sm" %>
    </li>
  <% end %>
</ul>

<h4>membership applications</h4>
<ul>
  <% @beer_club.applicants.each do |user| %>
    <li>
      <%= link_to user.username, user %>
      <% m_id = Membership.where(user_id: user.id).where(beer_club_id: @beer_club.id).first.id %>
      <% current_user_confirmed = !!Membership.where(user: current_user, beer_club: @beer_club)&.first&.confirmed %>
      <%# p '#######################################################################################' %>
      <%# p m_id %>
      <%# p current_user_confirmed %>
      <%# p '#######################################################################################' %>
      <% if current_user_confirmed %>
        <%= link_to "confirm", toggle_activity_membership_path(m_id), data: {turbo_method: "post"}, class: "btn btn-primary btn-sm" %>
      <% end %>
    </li>
  <% end %>
</ul>

<div>
  <% if current_user  %>
    <% if !@beer_club.users.include? current_user %>
      <%= form_with(model: Membership.new) do |form| %>
        <%= form.hidden_field :beer_club_id, value: @beer_club.id %>
        <%= form.hidden_field :user_id, value: current_user.id %>
        <%= form.submit "Join the beer club", class:"btn btn-primary btn-sm" %>
      <% end %>
    <% else %>
      <%= form_with(model: @membership, method: :delete) do |form| %>
        <%# m = Membership.where(user_id: 1).where(beer_club_id: 1) %>
        <%= form.hidden_field :beer_club_id, value: @beer_club.id %>
        <%= form.hidden_field :user_id, value: current_user.id %>
        <%= form.submit "End the membership", class:"btn btn-primary btn-sm" %>
      <% end %>
    <% end %>
  <% end %>
  <%= link_to "Back to beer clubs", beer_clubs_path %>

  <%= edit_and_destroy_buttons(@beer_club) %>
</div>
