
<h3>Username:</h3>
<p>
  <%= @user.username %>
</p>
<p>
  Has made <%= pluralize(@user.ratings.count, 'rating') %>, average rating <%= @user.average_rating.round(2) %>
</p>

<% if @user.favorite_brewery %>
  <p>
    Favourite style:
    <%= @user.favorite_style.name %>
  </p>
  <p>
    Favourite brewery:
    <%= @user.favorite_brewery.name %>
  </p>
<% end %>

<h4>member of</h4>

<ul>
  <% @user.beer_clubs.each do |club| %>
    <li>
      <%= link_to club, club %>
    </li>
  <% end %>
</ul>

<h4>ratings</h4>

<ul>
  <% @user.ratings.each do |rating| %>
    <li><%= render rating %>
      <% if @user == current_user %>
        <%= link_to "Delete", rating, data: {turbo_method: :delete} %>
      <% end %>
    </li>
  <% end %>
</ul>

<div>
  <% if @user == current_user %>
    <%= link_to "Edit this user", edit_user_path(@user) %> |
  <% end %>
  <%= link_to "Back to users", users_path %>

  <% if @user == current_user %>
    <%= button_to "Destroy this user", @user, method: :delete %>
  <% end %>
</div>
