<h2>Ratings</h2>

<h3>Best beers</h3>
<ul>
  <% @top_breweries.each do |beer| %>
    <li>
      <%= beer %>
      <%= beer.created_at %>
    </li>
  <% end %>
</ul>

<h3>Best breweries</h3>
<ul>
  <% @top_breweries.each do |brewery| %>
    <li>
      <%= brewery.name %>
      <%= brewery.average_rating %>
    </li>
  <% end %>
</ul>

<h3>Most active users</h3>
<ol>
  <% @top_breweries.each do |rating| %>
    <li>
      <%= rating %>
      <%= rating.created_at %>
    </li>
  <% end %>
</ol>

<h3>Recent ratings</h3>
<ul>
  <% @recent_ratings.each do |rating| %>
    <li>
      <%= rating %>
      <%= rating.created_at %>
    </li>
  <% end %>
</ul>
<p>
    Number of ratings:
    <%= @ratings.count %>
</p>
<p>
    <%= link_to('create new rating', new_rating_path, class:'btn btn-primary') if current_user %>
</p>
