<div id="<%= dom_id brewery %>">
  <h2>
    <%= brewery.name %>
  </h3>

  <em>
    Established in
    <%= brewery.year %>
  </em>
  <p>
    Beers:
    <%= @brewery.beers.count %>
  </p>
  <p>
    <% brewery.beers.each do |beer| %>
      <%= link_to beer.name, beer %>
    <% end %>
  </p>
</div>
