
<%= render @brewery %>

<% if @brewery.ratings.empty? %>
 Brewery has not yet been rated!
<% else %>
 Brewery has <%= pluralize(@brewery.ratings.count, 'rating') %> with an average of <%= @brewery.average_rating %>
<% end %>

<div>
  <%= link_to("Back to breweries", breweries_path, class:'btn btn-primary') %>

  <%= edit_and_destroy_buttons(@brewery) %>
</div>
