<p style="color: green"><%= notice %></p>

<%= render @beer %>

<% if @beer.ratings.empty? %>
 beer has not yet been rated!
<% else %>
 beer has <%= @beer.ratings.count %> ratings with an average of <%= @beer.average_rating %>
<% end %>

<div>
  <%= link_to "Edit this beer", edit_beer_path(@beer) %> |
  <%= link_to "Back to beers", beers_path %>

  <%= button_to "Destroy this beer", @beer, method: :delete %>
</div>
