
<%= render @beer %>

<% if @beer.ratings.empty? %>
 Beer has not yet been rated!
<% else %>
 Beer has <%= pluralize(@beer.ratings.count, 'rating') %> with an average of <%= @beer.average_rating %>
<% end %>

<% if current_user %>
  <h4>give a rating:</h4>

  <%= form_with(model: @rating) do |form| %>
    <%= form.hidden_field :beer_id %>
    score: <%= form.number_field :score %>
    <%= form.submit "Create rating" %>
  <% end %>

  <div>
    <%= link_to "Edit this beer", edit_beer_path(@beer) %>
    <%= button_to "Destroy this beer", @beer, method: :delete %>
  </div>
<% end %>

<div>
  <%= link_to "Back to beers", beers_path %>
</div>
